certifi==2022.12.7
charset-normalizer==2.1.1
cloudpickle==3.0.0
contourpy==1.2.0
cycler==0.12.1
Farama-Notifications==0.0.4
fonttools==4.49.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
idna==3.4
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
pillow==10.2.0
pyparsing==3.1.1
python-dateutil==2.8.2
recordclass==0.21.1
requests==2.28.1
six==1.16.0
torch==1.11.0+cu115
torchaudio==0.11.0+cu115
torchvision==0.12.0+cu115
typing_extensions==4.10.0
urllib3==1.26.13
